/* about us hero */
.about-us-hero {
    padding-top: 200px;
    padding-bottom: 150px;
    padding-left: 300px;
}

.about-us-hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us-hero-copy h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
}

.about-us-hero-copy h2 {
    max-width: 505px;
    margin-top: 150px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.about-us-hero-circle {
    background: #78f9ce;
    margin-right: 40px;
}

.person-one-hand {
    position: absolute;
    left: 80px;
    top: -100px;

    width: 300px;
    height: 500px;


    background: url('../images/about/person-one-hand.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.person-two-hand {
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);

    width: 600px;
    height: 600px;


    background: url('../images/about/person-two-hand.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 2000px) {
    .about-us-hero-content {
        justify-content: center;
    }

    .about-us-hero-copy {
        margin-right: 200px;
    }
}

@media (min-width: 1441px) and (max-width: 1700px) {
    .about-us-hero {
        padding-left: 200px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .about-us-hero {
        padding-left: 100px;
    }
} 

@media (min-width: 1024px) and (max-width: 1280px) {
    .about-us-hero-copy h1 {
        font-size: 62px;
        line-height: 75px;
    }

    .about-us-hero-mock {
        margin-left: 30px;
    }
}

@media (min-width: 426px) and (max-width: 1023px) {
    .about-us-hero {
        padding: 180px 70px 100px;
    }

    .about-us-hero-copy {
        margin-top: 60px;
    }

    .about-us-hero-copy h1 {
        font-size: 54px;
        line-height: 70px;
    }

    .about-us-hero-mock {
        margin-left: 30px;
    }
}

@media screen and (max-width: 425px) {
    .about-us-hero {
        padding: 120px 30px 0;
    }

    .about-us-hero-content {
        flex-direction: column;
    }

    .about-us-hero-copy {
        position: relative;
        z-index: 1;
        margin-top: 60px;
    }

    .about-us-hero-copy h1 {
        font-size: 36px;
        line-height: 50px;
    }

    .about-us-hero-copy h2 {
        margin-top: 25px;
        margin-bottom: 35px;
        font-size: 14px;
        line-height: 21px;
    }

    .about-us-hero-mock {
        margin-left: 0;
    }

    .person-one-hand {
        top: -365px;
        left: 0;
    }

    .person-two-hand {
        top: 65%;
    }
}
/* about hero END */

/* what are we looking for | wawlf */
.what-are-we-looking-for {
    padding-top: 120px;
    padding-left: 300px;
    padding-bottom: 120px;
}

.wawlf-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wawlf-copy h2 {
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.wawlf-copy p {
    max-width: 610px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.wawlf-circle {
    margin-right: -50%;
    transform: translateX(50%);
    background: #0439f8;
}

.person-with-the-flag {
    position: absolute;
    left: -120px;

    width: 365.5px;
    height: 650px;

    background: url('../images/about/person-with-the-flag.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 2000px) {
    .wawlf-content {
        justify-content: center;
    }

    .wawlf-copy {
        margin-right: 200px;
    }
}

@media (min-width: 1441px) and (max-width: 1700px) {
    .what-are-we-looking-for {
        padding-left: 200px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .what-are-we-looking-for {
        padding-left: 100px;
    }
} 

@media (min-width: 1024px) and (max-width: 1280px) {
    .wawlf-mock {
        margin-left: 30px;
    }
}

@media (min-width: 426px) and (max-width: 1023px) {
    .what-are-we-looking-for {
        padding: 180px 70px 100px;
    }

    .wawlf-copy {
        margin-top: 60px;
    }

    .wawlf-mock {
        margin-left: 30px;
    }
}

@media screen and (max-width: 425px) {
    .what-are-we-looking-for {
        padding: 120px 30px 100px;
        height: 100vh;
    }

    .wawlf-content {
        flex-direction: column;
    }

    .wawlf-copy {
        position: relative;
        z-index: 1;
        margin-top: 60px;
    }

    .wawlf-mock {
        margin-left: 0;
    }

    .person-with-the-flag {
        top: -120px;
    }
}
/* wawlf END */

/* about us cta */
.about-us-cta {
    padding-top: 100px;

    display: flex;
    justify-content: center;
}

.about-join-us {
    width: 100%;
    background: #F6F7EB;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-join-us h2 {
    padding-top: 68px;
    margin-bottom: 15px;

    font-size: 36px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.about-join-us p {
    margin-top: 15px;
    margin-bottom: 25px;

    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.about-join-us-btn {
    width: 280px !important;
    height: 70px !important;

    background: #01020D;
    color: #FFF;

    margin-bottom: 122px;
    margin-top: 25px;
}

@media screen and (max-width: 1024px) {
    .about-join-us {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media screen and (max-width: 425px) {
    .about-join-us {
        padding: 70px 30px;
        align-items: flex-start;
    }

    .about-join-us h2 {
        padding-top: 0;
        text-align: left;
    }

    .about-join-us p {
        text-align: left;
    }

    .about-join-us-btn {
        width: 100%!important;
        margin-bottom: 0;
    }
}
/* about cta END */

/* we believe in */
.we-believe-in {
    padding-top: 247px;
    padding-right: 400px;
    padding-bottom: 150px;
}

.we-believe-in-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.we-believe-in-circle {
    background: #ff922e;
}

.person-who-is-walking {
    position: absolute;
    top: 0;
    right: -74px;
    
    width: 92%;
    height: 92%;

    background: url('../images/about/person-who-is-walking.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.we-believe-in-copy {
    max-width: 610px;
    margin-left: 223px;
}

.we-believe-in-copy h2 {
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.we-believe-in-copy h3 {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: #fff;
}

.we-believe-in-copy p {
    margin-bottom: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
}

@media screen and (min-width: 2000px) {
    .we-believe-in-content {
        justify-content: center;
    }
}

@media (min-width: 1441px) and (max-width: 1700px) {
    .we-believe-in {
        padding-right: 200px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .we-believe-in {
        padding-right: 100px;
    }

    .we-believe-in-copy {
        margin-right: 100px;
    }
}

@media screen and (max-width: 1280px) {
    .we-believe-in-copy p {
        text-align: left;
    }
}

@media (min-width: 426px) and (max-width: 1024px) {
    .we-believe-in {
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .we-believe-in-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .we-believe-in-copy {
        margin-left: 0;
        margin-bottom: 42px;
    }
}

@media screen and (max-width: 425px) {
    .we-believe-in {
        padding: 70px 30px 0;
    }

    .we-believe-in-content {
        flex-direction: column-reverse;
    }

    .we-believe-in-copy {
        margin-bottom: 0;
        margin-left: 0;
    }

    .we-believe-in-copy h2 {
        margin-bottom: 28px!important;
    }

    .we-believe-in-copy h3 {
        font-size: 18px;
    }

    .we-believe-in-copy p {
        margin-top: 14px;
        margin-bottom: 24px;
    }

    .person-programming {
        left: -90px;
    }
}
/* we believe in END */

/* our values */
.our-values {
    padding-left: 300px;
    padding-bottom: 180px;
    padding-top: 180px;
}

.our-values-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-values-copy h2 {
    margin-bottom: 28px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.our-values-copy p {
    margin-bottom: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
}

.our-values-circle {
    background: #ff6348;
    right: -100px;
}

.our-values-figure-ball {
    position: absolute;
    top: -92px;
    left: -96px;

    width: 350px;
    height: 350px;

    background: url('../images/starter-kit-ball-orange.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.our-values-figure-square {
    position: absolute;
    top: 152px;
    right: 60px;

    width: 199px;
    height: 198px;

    background: url('../images/starter-kit-slide-cube-yellow.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.our-values-figure-cylinder {
    position: absolute;
    bottom: -103px;
    left: 62px;

    width: 260px;
    height: 260px;

    background: url('../images/newsletter-cylinder.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 2000px) {
    .our-values-content {
        justify-content: center;
    }

    .our-values-copy {
        margin-right: 200px;
    }
}

@media (min-width: 1441px) and (max-width: 1700px) {
    .our-values {
        padding-left: 200px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .our-values {
        padding-left: 100px;
    }
} 

@media (min-width: 1024px) and (max-width: 1280px) {
    .our-values-mock {
        margin-left: 30px;
    }
}

@media (min-width: 426px) and (max-width: 1023px) {
    .our-values {
        padding: 180px 70px 100px;
    }

    .our-values-copy {
        margin-top: 60px;
    }

    .our-values-mock {
        margin-left: 30px;
    }
}

@media screen and (max-width: 425px) {
    .our-values {
        padding: 70px 30px;
        height: 100vh;
    }

    .our-values-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .our-values-copy {
        position: relative;
        z-index: 1;
        margin-top: 60px;
    }

    .our-values-mock {
        margin-left: 0;
    }

    .our-values-figure-square {
        top: 0;
        right: 180px;
    }

    .our-values-figure-ball {
        display: none;
    }

    .our-values-figure-cylinder {
        display: none;
    }
}
/* our values END */