.contact-hero {
    margin-top: 209px;
    padding-left: 200px;
    padding-right: 200px;

    display: flex;
    justify-content: center;
}

.contact-hero-content {
    padding-top: 91px;
    padding-bottom: 109px;
    margin-bottom: 140px;
    width: 100%;

    background: #FFF;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-hero-content h1 {
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.contact-hero-content h4 {
    margin-top: 15px;
    margin-bottom: 50px;
    padding-right: 177px;
    padding-left: 184px;

    font-weight: 400;
    font-size: 24px;
    text-align: center;

}

.contact-form {
    padding-left: 316px;
    padding-right: 301px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-hero-content select,
.contact-modal-content select{
    width: 610px;
    height: 70px;

    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 11px;
    padding-bottom: 11px;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid rgb(118, 118, 118);
}

.contact-hero-content input,
.contact-modal-content input{
    width: 610px;
    height: 70px;

    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 11px;
    padding-bottom: 11px;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
	border: 1px solid rgb(118, 118, 118);
}

.contact-hero-content textarea,
.contact-modal-content textarea {
	width: 610px;
	height: 230px;
	margin-top: 11px;
	padding-top: 22px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 11px;
	
	font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
	border: 1px solid rgb(118, 118, 118);
}

.contact-btn {
    background: #01020D;
	border: 2px solid #01020D;
    color: #FFF;
    
    width: 250px !important;
    height: 70px !important;
    margin-top: 25px;
	padding-right: 15px;
}

.contact-btn:hover {
	color: #01020D;
	background: transparent;
	transition: .5s;
}

@media (min-width: 1281px) and (max-width: 1600px) {
	.contact-hero-content textarea,
	.contact-modal-content textarea {
		height: 180px!important;	
	}
}

@media screen and (max-width: 1024px) {
    .contact-hero {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .contact-hero-content {
        padding: 180px 30px 90px;
        margin-bottom: 0;
    }

    .contact-hero-content h4 {
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        font-size: 20px;
        line-height: 28px;
    }

	.wpcf7 {
		width: 100%!important;	
	}
	
	.contact-hero-content select,
	.contact-modal-content select {
		height: 55px!important;
		background: transparent!important;
	}
	
	.contact-hero-content input,
	.contact-modal-content input {
		height: 55px!important;	
	}
	
	.contact-hero-content textarea,
	.contact-modal-content textarea {
		height: 150px!important;
	}
	
	.contact-hero-content input,
	.contact-modal-content input,
	.contact-hero-content select,
	.contact-modal-content select,
	.contact-hero-content textarea,
	.contact-modal-content textarea{
		width: 100%;	
	}
	

    .contact-btn {
        width: 100%!important;
    }
}