.contact-hero {
    margin-top: 209px;
    padding-left: 200px;
    padding-right: 200px;

    display: flex;
    justify-content: center;
}

.contact-hero-content {
    padding-top: 91px;
    padding-bottom: 109px;
    margin-bottom: 140px;
    width: 100%;

    background: #FFF;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-hero-content h1 {
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.contact-hero-content h4 {
    margin-top: 15px;
    margin-bottom: 50px;
    padding-right: 177px;
    padding-left: 184px;

    font-weight: 400;
    font-size: 24px;
    text-align: center;

}

.contact-form {
    padding-left: 316px;
    padding-right: 301px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-form select {
    width: 610px;
    height: 70px;

    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 11px;
    padding-bottom: 11px;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    
}

.contact-form input {
    width: 610px;
    height: 70px;

    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 11px;
    padding-bottom: 11px;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.contact-input-text {
    height: 230px !important;
    padding-top: 22px !important;
    padding-bottom: 181px !important;
    margin-bottom: 25px !important;
}

.contact-btn {
    background: #01020D; 
    color: #FFF;
    
    width: 250px !important;
    height: 70px !important;
    margin-top: 25px;
}

@media screen and (max-width: 1024px) {
    .contact-hero {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .contact-hero-content {
        padding: 180px 30px 90px;
        margin-bottom: 0;
    }

    .contact-hero-content h4 {
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        font-size: 20px;
        line-height: 28px;
    }

    .contact-form {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .contact-form select,
    .contact-form input {
        width: 100%;
    }

    .contact-btn {
        width: 100%!important;
    }
}