/* main styles for each page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
}

html, 
body {
    width: 100%;
    height: 100vh;
    background: #01020D;
    image-rendering: -webkit-optimize-contrast;
}

main {
    -webkit-overflow: hidden;
       -moz-overflow: hidden;
         -o-overflow: hidden;
            overflow: hidden;
}

li {
    list-style: none;
}

.btn {
    padding: 17px 60px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #01020D;
    background: #78F9CE;

    cursor: pointer;
    text-decoration: none;
    border: 2px solid #78F9CE;
    outline: none;
    transition: .5s!important;
}

.btn:hover {
    background: transparent;
    transition: .5s;
    color: #78F9CE;
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 34px;
        line-height: 51px;
    }

    .big-heading {
        font-size: 34px!important;
        line-height: 51px!important;
    }

    h2:not(.big-heading) {
        font-size: 24px!important;
        line-height: 34px !important;
        margin-bottom: 14px!important;
    }

    p {
        font-size: 14px!important;
        line-height: 20px!important;
    }

    .btn {
        padding: 14px 32px;
        font-size: 14px;
        line-height: 21px;
    }
}

.circle {
    position: relative;
    z-index: 0;
    width: 700px;
    height: 700px;
    border-radius: 50%;
}

.left-circle {
    margin-left: -150px;
}

.right-circle {
    margin-right: -150px;
}

.bubble {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.small-bubble {
    width: 50px;
    height: 50px;
}

.big-bubble {
    width: 100px;
    height: 100px;
}


@media (min-width: 1024px) and (max-width: 1376px) {
    .circle {
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 426px) and (max-width: 1023px) {
    .circle {
        width: 492px;
        height: 492px;
    }
}

@media screen and (max-width: 425px) {
    .circle {
        width: 392px;
        height: 392px;
        margin-top: 42px;
    }

    .right-circle {
        margin-left: 50px;
    }
}

/* header style */
header {
    width: 100%;
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    padding-left: 100px;
    padding-right: 100px;

    background: #0439F8;
    /* background: rgba(4, 57, 248, .6); --> on scroll down */
}

.header-con ul {
    display: flex;
    align-items: center;
}

.header-logo {
    position: relative;
    z-index: 500;
    width: 85px;
    height: 31px;
    background: url('../images/logo.svg');
    background-size: cover;
}

.header-con ul li {
    list-style: none;
    margin-left: 25px;
    margin-right: 25px;
}

.header-con ul li a {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.header-button {
    padding: 12px 44px 11px;
    margin-left: 25px;

    background: #FFF;
    color: #0439F8;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}

.nav-mobile-modal {
    display: none;
}

@media screen and (max-width: 425px) {
    header {
        padding-left: 30px;
        padding-right: 30px;
    }
}
/* END header style */

/* burger style */
.burger {
    height: 3em;
    width: 3em;
    position: relative;
    z-index: 500;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    -webkit-tap-highlight-color: transparent; 
}
.burger .burger-lines:after {
    left: 0;
    top: -1em; 
}
.burger .burger-lines:before {
    left: 1em;
    top: 1em; 
}
.burger:after {
    content: '';
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%; 
}
.burger .burger-lines {
    top: 50%;
    margin-top: -0.125em; 
}
.burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: white;
    height: 0.25em;
    position: absolute;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0); 
}
.burger .burger-lines:after {
    left: 0;
    top: -1em; 
}
.burger .burger-lines:before {
    left: 1em;
    top: 1em; 
}
.burger.burger-squeeze .burger-lines, .burger.burger-squeeze .burger-lines:after, .burger.burger-squeeze .burger-lines:before {
-webkit-transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
    -o-transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
        transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s; 
}

.burger.burger-squeeze .burger-lines:after, .burger.burger-squeeze .burger-lines:before {
    width: 2em; 
}

.burger.burger-squeeze.open .burger-lines, .burger.burger-squeeze.open .burger-lines:after, .burger.burger-squeeze.open .burger-lines:before {
-webkit-transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
     -o-transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
        transition: .2s background-color, .2s top, .2s left, .2s transform .15s; 
}

.burger.burger-squeeze.open .burger-lines {
    background-color: transparent; 
}

.burger.burger-squeeze.open .burger-lines:before, .burger.burger-squeeze.open .burger-lines:after {
    left: 0.5em;
    top: 0px; 
}

.burger.burger-squeeze.open .burger-lines:before {
-webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); 
}

.burger.burger-squeeze.open .burger-lines:after {
-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg); 
}

.nav-mobile-active {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    #hamburger {
        display: block !important;
    }

    .header-con {
        display: none;
    }

    .hide {
        display: none;
    }

    .open {
        display: block!important;
    }

    .header-button {
        margin-top: 30px;
        margin-left: 0;
    }

    .nav-mobile-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0439F8;
        z-index: 100;
    }

    .nav-mobile-active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-mobile-modal nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .nav-mobile-modal nav ul li {
        list-style: none;
    }

    .nav-mobile-modal nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 24px;
    }
}
/* END burger style */

/* CONTACT US MODAL */

.contact-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, .5);
}

.contact-modal .close-contact-modal {
    position: absolute;
    top: -30px;
    right: -50px;
    font-size: 54px;
    color: #FFF;
    cursor: pointer;
}

.contact-modal-content {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
	padding-bottom: 30px;
    transform: translate(-50%, -50%);
    background: #FFF;
    z-index: 101;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1024px) {
	.close-contact-modal {
		top: 20px;
		right: 30px;
		color: #000;
	}
	
	.contact-modal .close-contact-modal {
		right: 30px;
		color: #000;
	}
	
    .contact-modal-content {
		transform: unset;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
		padding-left: 30px;
		padding-right: 30px;
    }
}

/* END CONTACT US MODAL */

/* 404 PAGE STYLE */

.not-found-container {
    position: relative;
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-container h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    z-index: 1;
}

.not-found-container h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.not-found-container p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    z-index: 1;
}

.not-found-container a {
    margin-top: 30px;
    margin-bottom: 40px;
    z-index: 1;
}

.not-found-image {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 25%;
    width: 500px;
    height: 500px;

    background: url('../images/not-found-image.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
    .not-found-container {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 70px;
        align-items: flex-start;
    }

    .not-found-container h2 {
        text-align: left;
    }

    .not-found-image {
        top: 17%;
    }
}

@media screen and (max-width: 500px) {
    .not-found-image {
        left: unset;
        right: 0;
        width: 300px;
        height: 300px;
    }
}

/* END 404 PAGE STYLE */

/* newsletter start */

.newsletter {
    padding-top: 141px;

    display: flex;
    justify-content: center;
    padding-right: 200px;
    padding-left: 200px;
}

.newsletter-content {
    position: relative;
    padding-top: 141px;
    padding-bottom: 217px;
    padding-left: 106px;
    padding-right: 94px;

    margin-bottom: 115px;
    width: 100%;

    background: #C2E812;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-cylinder {
    position: absolute;
    top: -120px;
    left: 260px;
    width: 220px;
    height: 238px;
    background: url("../images/newsletter-cylinder.png");

    background-size: cover;
    background-repeat: no-repeat;

}

.newsletter-content h2 {
    margin-bottom: 15px;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.newsletter-content p {
    margin-top: 15px;
    margin-bottom: 25px;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.newsletter-form {
    display: flex;

    margin-top: 25px;
}

.newsletter-form input {
    background: transparent;
	border: 2px solid #01020D;
    color: #01020D;

    width: 610px;
    height: 70px;
    margin-right: 15px;
    
    padding-left: 15px;
    padding-top: 11px;
    padding-bottom: 11px;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.newsletter-form input::placeholder {
    color: #01020D;
}

.newsletter-btn {
    background: #01020D;
    color: #FFF;

    width: 250px !important;
    height: 70px !important;
    margin-left: 15px;
    outline: none;
}

.newsletter-cube {
    position: absolute;
    left: 1100px;
    bottom: -85px;
    width: 213px;
    height: 211px;
    background: url("../images/newsletter-cube.png");
    
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .newsletter {
        padding-right: 100px;
        padding-left: 100px;
    }

    .newsletter-form {
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .newsletter {
        padding-left: 0;
        padding-right: 0;
    }

    .newsletter-content {
        padding: 70px;
        margin-bottom: 0;
    }

    .newsletter-form {
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .newsletter {
        padding-left: 0;
        padding-right: 0;
    }

    .newsletter-content {
        padding: 70px;
        margin-bottom: 0;
    }

    .newsletter-form {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .newsletter-form input {
        width: 100%;
        margin-right: 0;
    }

    .newsletter-btn {
        width: 100%!important;
        margin-left: 0;
    }
    
}

@media screen and (max-width: 425px) {
    .newsletter {
        padding: 0;
    }

    .newsletter-content {
        padding: 70px 30px;
        margin-bottom: 0;
    }

    .newsletter-content h2 {
        font-size: 28px!important;
        line-height: 39px;
    }

    .newsletter-cylinder {
        left: 255px;
        top: -156px;
    }

    .newsletter-form {
        width: 100%;
        flex-direction: column;
    }

    .newsletter-form input {
        width: 100%;
    }

    .newsletter-btn {
        width: 100%!important;
        margin-left: 0;
    }

    .newsletter-cylinder {
        display: none;
    }
}
/* END newsletter style */

/* footer start */

footer {
    width: 100%;
    padding-top: 49px;
    padding-bottom: 30px;
    margin-top: 115px;

    background: #0439F8;
    /* background: rgba(4, 57, 248, .6); --> on scroll down */
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-shortcuts {
    display: flex;
    justify-content: flex-start;

    padding-left: 200px;
    margin-bottom: 19px;
}

.footer-logo {
    width: 200px;
    height: 73px;
    background: url("../images/footer-logo.svg");
    background-size: cover;
    margin-right: 56px;
    margin-top: 5px;
}

.left-footer-list {
    margin-left: 56px;
    margin-right: 45px;

    font-weight: 700;
    font-size: 14px;
}

.left-footer-list ul li h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.left-footer-list ul li:not(:first-child) {
    margin-top: 10px;
}

.right-footer-list {
    margin-left: 45px;

    font-weight: 700;
    font-size: 14px;
}
.right-footer-list ul li h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.right-footer-list ul li:not(:first-child) {
    margin-top: 10px;
}

.footer-copyright {
    margin-top: 19px;

    text-align: center;
    font-weight: 400;
    font-size: 12px;
}

.footer-copyright a {
    text-decoration: underline;
    color: #FFF;
}

.footer-shortcuts ul li a {
    text-decoration: none;
    color: #FFF;
}

@media screen and (max-width: 1024px) {
    footer {
        margin-top: 0;
        padding: 70px 30px 30px;
    }

    .footer-shortcuts {
        padding-left: 70px;
        padding-right: 70px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 860px) {
    footer {
        margin-top: 0;
        padding: 70px 30px 30px;
    }

    .footer-shortcuts {
        flex-direction: column;
        padding-left: 0;
    }

    .left-footer-list {
        margin-top: 24px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 24px;
    }

    .right-footer-list {
        margin-left: 0;
    }

    .footer-copyright {
        text-align: left;
    }

    .footer-copyright p br {
        display: none;
    }
}
/* END footer style */